# Requirements for controller
-r requirements.txt

# Dev requirements

# Testing
pytest~=7.2.0
pytest-cov
pytest-asyncio
codecov

# Documentation
sphinx
sphinx-rtd-theme
sphinxcontrib-openapi
mistune==0.8.4
MarkupSafe~=2.1.1

# Linting
flake8

# Project setup
setuptools~=65.5.0